<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         colors="true"
         bootstrap="./vendor/autoload.php"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Meritoo Package - Main Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>./src/</directory>
        </include>
    </source>

    <groups>
        <exclude>
            <group>performance</group>
        </exclude>
    </groups>

    <coverage>
        <report>
            <html outputDirectory="./.build/logs/phpunit_coverage/html"/>
        </report>
    </coverage>
</phpunit>
